[submodule "src/system/modules/bootstrap/assets/bootstrap"]
	path = src/system/modules/bootstrap/assets/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "src/assets/bootstrap/bootstrap"]
	path = src/assets/bootstrap/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "src/assets/bootstrap/bootstrap-select"]
	path = src/assets/bootstrap/bootstrap-select
	url = git@github.com:silviomoreto/bootstrap-select.git
[submodule "src/assets/bootstrap/jquery-touchSwipe"]
	path = src/assets/bootstrap/jquery-touchSwipe
	url = git@github.com:mattbryson/TouchSwipe-Jquery-Plugin.git
